$color1: #408000;
$color2: #009999;

// weather colors:
$maincolor: #aa8439;
$secondarycolor: #d4c26a;
$tertiarycolor: #d49a6a;

// additional colors:  #ddbd5d (yellow, sun)
//                     #5491a5 (blue, sky)
