// screen sizes
$sm: 495px;
$md: 620px;
$lg: 900px;

@mixin main-large {
    @media only screen and (min-width: 32.5em) {
        @content;
    }
}

@mixin small-screen {
    @media only screen and (min-width: $sm) {
        @content;
    }
}

@mixin medium-screen {
    @media only screen and (min-width: $md) {
        @content;
    }
}

@mixin large-screen {
    @media only screen and (min-width: $lg) {
        @content;
    }
}