@import 'typography';
@import 'normalize.css';
@import 'colors';
@import 'queries';
@import 'header';
@import 'footer';
@import 'nav';
@import 'common';

h1, h2 {
    text-align: center;
}

h2 {
    margin: 0;
    padding: .5em;
}

a {
    color: black;
    img {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
}

section { 
    overflow: hidden;
}

.section-head {
    background-color: darken($color1, 10%);
    border-radius: 10px 10px 0 0;
    color: white;
}

.section-content {
    background-color: $color1;
    padding: 5px;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 30px;
    @include medium-screen {
        grid-template-columns: 1fr 1fr;
    }
    @include large-screen {
        grid-template-columns: 1fr 1fr 1fr;
    }
    section:last-of-type {
        @include medium-screen {
            grid-column-start: 1;
            grid-column-end: -1;
        }
        @include large-screen {
            grid-column-start: -2;
            grid-column-end: -1;
        }
    }

}


// @media screen and (min-width: 620px) {
//     .grid {
//         grid-template-columns: 1fr 1fr;
//         section:last-of-type {
//             grid-column-start: 1;
//             grid-column-end: -1;
//         }
//     }
// }

// @media screen and (min-width: 900px) {
//     .grid {
//         grid-template-columns: 1fr 1fr 1fr;
//         section:last-of-type {
//             grid-column-start: -2;
//             grid-column-end: -1;
//         }
//     }
// }