@import 'typography';
@import 'normalize.css';
@import 'colors';

.padding-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 940px;
    margin: 0 auto;
}

* {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .me {
    font-family: 'Turret Road', cursive;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin: 0;
    padding: .5em;
}

header, footer {
    background-color: $color1;
    padding-top: .5em;
    padding-bottom: .5em;
}

header {
    border-bottom: solid 4px darken($color1, 10%);
    .me {
        font-size: 3em;
    }
}

nav {
    background-color: darken($color1, 15%);
    margin: 0;
    padding-bottom: 0;
    border-radius: 0 0 20px 20px;
    ul {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            margin-right: .5em;
            a {
                display: block;
                padding: 1em;
                text-decoration: none;
                color: white;
                &:hover {
                    background-color: darken($color1, 10%);
                }
            }
        }
    }
}

a {
    color: black;
    img {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
}

section { 
    overflow: hidden;
}

.section-head {
    background-color: darken($color1, 10%);
    border-radius: 10px 10px 0 0;
    color: white;
}

.section-content {
    background-color: $color1;
    padding: 5px;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 30px;
}

footer {
    border-radius: 20px 20px 0 0;
    clear: both;
    text-align: center;
    p {
        margin: 0;
        margin-top: .4em;
    }
    a {
        color: black;
    }
}

@media screen and (min-width: 620px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        section:last-of-type {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}

@media screen and (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        section:last-of-type {
            grid-column-start: -2;
            grid-column-end: -1;
        }
    }
}