@import 'typography';
@import 'normalize.css';
@import 'colors';
@import 'header';
@import 'nav';
@import 'footer';

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .me {
    font-family: 'Turret Road', cursive;
}

html {
    background-color: $color1;
}

body {
    background-color: white;
}

main {
    padding-top: 20px;
    padding-bottom: 50px;
  }  

#pic {
    float: none;
    clear: both;
    img {
        width: 100%;
    }
    @include main-large {
            float: right;
            max-width: 200px;
            margin-right: 2em;
            margin-top: -1em;
    }
}

.padding-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    border-bottom: solid black 1px;
}

.me {
    font-size: 3em;
}


@import 'queries';