/*! ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/*! Imports */

/*! Inclusion of Normalize CSS file, available at https://necolas.github.io/normalize.css/ */
@import "normalize.css";

/*! Inclusion of Google Font Sansita */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

$color-primary: #0e89d5;
$color-secondary: #fff;
$color-accent1: #6c4ddb;
$color-accent2: #d8f;

$font-header: Sansita, sans-serif;
$font-copy: Helvetica, sans-serif;

/*! General Styles */
body {
    font-family: $font-copy;
    position: relative;
    padding-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    margin: 0;
}

h1, header {
    font-size: 2em;
    font-weight: bolder;
}

h2 {
    font-size: 1.5em;
    font-weight: bolder;
}

p {
   margin: 16px 0;
}


header, footer, nav {
    background-color: $color-primary;
}

header {
    figure {
        padding: 0;
        margin: 0;
        width: 1em;
        display: inline-block;
        img {
            width: 100%;
        }
    }
}

#mynav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 1em;
    li{
        list-style-type: none;
        a {
            display: block;
            text-decoration: none;
            padding: 0 1em;
        }
    }   
}

dt, dd {
    display: inline;
    padding: 0;
    margin: 0;
}

dt {
    font-weight: bold;
}

dd::after {
    content: '|';
}

dd:last-child::after, #wind dd::after {
    content: '';
}

section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    padding-top: 1.3em;
}

#bckimg {
    background-image: url("../images/clear.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#actual {
    font-size: 4em;
}

#low {
    color: blue;
}

#high {
    color: red;
}

#summary {
    img {
        min-width: 200px;
        max-width: 75%;
        min-height: 200px;
        max-height: 75%;
        object-fit: cover;
    }
}

#forecast {
    dt {
        font-weight: normal;
        &::before {
            content: '|';
        }
        &:first-child::before {
            content: '';
        }
    }
}

.temp::after {
    content: '°F';
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        bottom: 0;
        li{
            list-style-type: none;
            a {
                display: block;
                padding: .5em;
                text-decoration: none;
                color: $color-secondary;
            }
        }
    }
}

#wind {
    padding: 5px;
}

#windfig {
    position: relative;
    img {
        width: 40%;
    }
    #windspeed {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}