/*! ******************************
*  Stylesheet for Screened Devices
*  Created by: Daniel Eckton
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*  2.1 Descriptive list styles
*  2.2 Wind pointer rotations
*
*  3.  Mobile First (styles specific to small screens)
*  3.1 dseckton.github.io navegation styles
*  3.2 Header and Nav styles
*  3.3 General section styles
*  3.4 Temperature section styles
*  3.5 Wind section styles
*  3.6 Summary section styles
*  3.7 Forecast section styles
* 
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/*! Imports */

/*! Inclusion of Normalize CSS file, available at https://necolas.github.io/normalize.css/ */
@import "normalize.css";

/*! Inclusion of Google Font Sansita */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

$color-primary: #0e89d5;
$color-secondary: #fff;
$color-accent1: #6c4ddb;
$color-accent2: #d8f;

$font-header: Sansita, sans-serif;
$font-copy: Helvetica, sans-serif;

/*! General Styles */

.hide {
    display: none;
}

body {
    font-family: $font-copy;
    position: relative;
    padding-bottom: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    margin: 0;
}

h1, header {
    font-size: 2em;
    font-weight: bolder;
}

h1 {
    padding-top: .5em;
}

h2 {
    font-size: 1.5em;
    font-weight: bolder;
}

p {
   margin: 16px 0;
}

header, footer, nav {
    background-color: $color-primary;
}

.temp::after {
    content: '°F';
}

#elevation::after {
    content: 'ft';
}

/*! Descriptive list styles */
dl {
    margin: .3em;
}

dt, dd {
    display: inline;
    padding: 0;
    margin: 0;
}

dt {
    font-weight: bold;
}

dt::before {
    font-weight: normal;
    content: '|';
}

dt:first-child::before, #wind dt::before {
    content: '';
}

#hourly-temp {
    display: flex;
}


/*! 2.2 Wind pointer rotations */
.n {
    transform: rotate(0deg);
}

.ne {
    transform: rotate(45deg);
}

.e {
    transform: rotate(90deg);
}

.se {
    transform: rotate(135deg);
}

.s {
    transform: rotate(180deg);
}

.sw {
    transform: rotate(225deg);
}

.w {
    transform: rotate(270deg);
}

.nw {
    transform: rotate(315deg);
}

/*! 2.3 Summary Image changes */
.rain {
    background-image: url('../images/rain-400w-o.jpg')
}

.clear {
    background-image: url('../images/clear-400w-o.jpg')
}

.clouds {
    background-image: url('../images/clouds-400w-o.jpg')
}

.fog {
    background-image: url('../images/fog-400w-o.jpg')
}

.snow {
    background-image: url('../images/snow-400w-o.jpg')
}



/*! dseckton.github.io navegation styles */
// #mynav {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin: 0;
//     padding: 1em;
//     li{
//         list-style-type: none;
//         width: 33%;
//         padding: auto 0;
//         a {
//             display: block;
//             text-decoration: none;
//             padding: 0 1em;
//             text-align: center;
//         }
//     }   
// }

/*! Header and Nav styles */
header {
    figure {
        padding: 0;
        margin: 0;
        width: 38px;
        display: inline-block;
        vertical-align: center;
        img {
            width: 100%;
        }
    }
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        bottom: 0;
        li{
            list-style-type: none;
            a {
                display: block;
                padding: .5em;
                text-decoration: none;
                color: $color-secondary;
            }
        }
    }
}

/*! General section styles */
section {
    background-color: rgba(200,200,200,.6);
    margin: .2em;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    padding-top: 1.3em;
}

#bckimg {
    background-image: url("../images/rain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*! Temperature section styles */
#actual {
    font-size: 4em;
}

#low {
    color: blue;
}

#high {
    color: red;
}

/*! Wind section styles */
#wind {
    padding: 5px;
}

#windfig {
    position: relative;
    img {
        width: 40%;
        max-width: 200px;
    }
    .windspeed {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*! Summary section styles */
#summary {
    #weatherImg {
        width: 70%;
        padding-bottom: 70%;
        margin: 2em auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

/*! Forecast section styles */
#forecast {
    dl {
        overflow: auto;
        white-space: nowrap;
    }
    dt {
        font-weight: normal;
        &::before {
            content: '|';
        }
        &:first-child::before {
            content: '';
        }
    }
}

/* Media Queries */

@media only screen and (min-width: 680px) {
    #bckimg {
        flex-direction: row;
        padding: .5em 0;
        section {
            width: 33.33%;
        }
    }
    nav {
        position: relative;
    }

    .rain {
        background-image: url('../images/rain-600w-o.jpg')
    }
    
    .clear {
        background-image: url('../images/clear-600w-o.jpg')
    }
    
    .clouds {
        background-image: url('../images/clouds-600w-o.jpg')
    }
    
    .fog {
        background-image: url('../images/fog-600w-o.jpg')
    }
    
    .snow {
        background-image: url('../images/snow-600w-o.jpg')
    }
}