$head-back-color: ;
$head-text-color: ;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: $head-back-color;
    color: $head-text-color;
    h1 {
        text-alignment: center;
    }
}

