$head-back-color: ;
$head-text-color: ;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $head-back-color;
    color: $head-text-color;
    h1 {
        text-alignment: center;
    }
}

