* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #94D2D4;
    height: 100%;
}

.navigation, body {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.navigation {
    padding: 2em 0;
    background-color: gray;
}

main {
    max-width: 1000px;
}

body {
    height: 100%;
    max-width: 1200px;
    background-color: white;
}

header {
    width: 100%;
    display: block;
}

footer {
    display: block;
    width: 100%;
    position: fixed;
    float: bottom;
    text-align: center;
    background-color: red;
    color: white;
    left: 0;
    bottom: 0;
    padding: 2em;
}