html {
    background-color: #94D2D4;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    background-color: white;
}

footer {
    display: block;
    width: 100%;
    position: fixed;
    float: bottom;
    text-align: center;
    background-color: red;
}