@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Oswald&display=swap");
* {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .me {
  font-family: "Turret Road", sans-serif;
}

* {
  font-family: "Nanum Gothic", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

input[type=button] {
  outline: none;
}
input[type=button]::moz-focus-inner {
  border: 0;
}
input[type=button]:focus {
  outline: none;
  border: 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.padding-container {
  padding: 0 10px;
}

.brief {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.brief img {
  width: 1.6em;
}

header {
  padding: 10px 0;
  background-color: #94c968;
}
header .padding-container {
  display: flex;
  flex-flow: row nowrap;
}
header #site-logo {
  width: 50px;
  flex: 0 0 auto;
}
header #site-logo img {
  width: 100%;
}
header .page-header {
  flex: 1 1 auto;
  margin: 0 10px;
}
header .page-header span {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  line-height: 1em;
  display: block;
}
header #preview {
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
}

#disabler {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
#disabler.closed {
  display: none;
}

nav {
  width: 250px;
  position: fixed;
  background-color: #538628;
  height: 100vh;
  transition-duration: 0.8s;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 480px) {
  nav {
    position: sticky;
    width: 100%;
    height: auto;
    transition-duration: 0s;
    top: -1px;
  }
}
nav.closed {
  transform: translatex(-250px);
}
@media only screen and (min-width: 480px) {
  nav.closed {
    transform: none;
  }
}
nav button {
  position: absolute;
  right: -40px;
  top: 90px;
  width: 40px;
  height: 65px;
  padding-left: 3px;
  background-color: #538628;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.8em;
}
@media only screen and (min-width: 480px) {
  nav button {
    display: none;
  }
}
nav ul {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
@media only screen and (min-width: 480px) {
  nav ul {
    flex-direction: row;
    text-align: center;
    align-items: stretch;
  }
}
nav ul li {
  border: solid 1px transparent;
  transform-origin: 0 50%;
  transition-duration: 0.3s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
nav ul li:hover {
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 480px) {
  nav ul li:hover {
    border-right: solid 1px rgba(255, 255, 255, 0.3);
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
}
nav ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

main {
  padding-top: 2em;
}
@media only screen and (min-width: 480px) {
  main {
    padding-top: 1em;
  }
}

h1 {
  font-size: 2.2em;
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 1em;
}

.location-intro {
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .location-intro {
    text-align: left;
  }
}

.weather-info {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  margin-top: 20px;
}

.sm-module {
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  padding: 0.8em;
  margin-bottom: 1em;
}

.glance {
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  padding: 0.8em;
  margin-bottom: 1em;
}

section > div {
  max-width: 900px;
  margin: inherit auto;
}

.current-temp {
  font-size: 3em;
  font-weight: 700;
}

#high {
  color: red;
}

#low {
  color: blue;
}

.forecast-graphic {
  display: block;
  background-color: lightgray;
  width: 70%;
  padding-bottom: 70%;
  margin-top: 0.8em;
}

footer {
  background-color: #94c968;
  padding: 10px 0;
}
footer .padding-container {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=weather.css.map */
