@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Oswald&display=swap");
* {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .me {
  font-family: "Turret Road", sans-serif;
}

* {
  font-family: "Nanum Gothic", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

input[type=button] {
  outline: none;
}
input[type=button]::moz-focus-inner {
  border: 0;
}
input[type=button]:focus {
  outline: none;
  border: 0;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.padding-container {
  padding: 0 10px;
}

.brief {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.brief img {
  width: 1.5em;
}

header {
  padding: 10px 0;
  background-color: #94c968;
}
header .padding-container {
  display: flex;
  flex-flow: row nowrap;
}
header #site-logo {
  width: 50px;
  flex: 0 0 auto;
}
header #site-logo img {
  width: 100%;
}
header .page-header {
  flex: 1 1 auto;
  margin: 0 10px;
}
header .page-header span {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  line-height: 1em;
  display: block;
}
header #preview {
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
}

#disabler {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
#disabler.closed {
  display: none;
}

nav {
  width: 250px;
  position: fixed;
  background-color: #538628;
  height: 100vh;
  transition-duration: 0.8s;
  top: 0;
  left: 0;
}
nav.closed {
  transform: translatex(-250px);
}
nav button {
  position: absolute;
  right: -45px;
  top: 90px;
  width: 45px;
  height: 70px;
  padding-left: 5px;
  background-color: #538628;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border: transparent;
  cursor: pointer;
}
nav #menu-arrow {
  display: block;
  height: 0;
  width: 0;
  border-right: solid 20px white;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 0px transparent;
}
nav #menu-arrow.closed {
  border-left: solid 20px white;
  border-top: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-right: solid 0px transparent;
  margin-left: 5px;
}
nav ul {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
nav ul li {
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  transform-origin: 0 50%;
  transition-duration: 0.3s;
}
nav ul li:hover {
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
nav ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

main {
  padding-top: 2em;
}

h1 {
  font-size: 2.2em;
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 1em;
  text-align: center;
}

.local-coords {
  text-align: center;
}

.weather-info {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  margin-top: 20px;
}

.sm-module {
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  padding: 0.8em;
  margin-bottom: 1em;
}

.glance {
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  padding: 0.8em;
  margin-bottom: 1em;
}

.current-temp {
  font-size: 3em;
  font-weight: 700;
}

#high {
  color: red;
}

#low {
  color: blue;
}

.forecast-graphic {
  display: block;
  background-color: lightgray;
  width: 70%;
  padding-bottom: 70%;
  margin-top: 0.8em;
}

footer {
  background-color: #94c968;
  padding: 10px 0;
}
footer .padding-container {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=weather.css.map */
