@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Oswald&display=swap");
* {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, .me {
  font-family: "Turret Road", sans-serif;
}

* {
  font-family: "Nanum Gothic", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.padding-container {
  padding: 0 10px;
}

.brief {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.brief img {
  width: 1.6em;
}

header {
  padding: 10px 0;
  background-color: #94c968;
}
header .padding-container {
  display: flex;
  flex-flow: row nowrap;
}
header #site-logo {
  width: 50px;
  flex: 0 0 auto;
}
header #site-logo img {
  width: 100%;
}
header .page-header {
  flex: 1 1 auto;
  margin: 0 10px;
}
header .page-header span {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  line-height: 1em;
  display: block;
}
header #preview {
  width: 40px;
  display: flex;
  flex-flow: column nowrap;
}

#disabler {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
#disabler.closed {
  display: none;
}

nav {
  width: 250px;
  position: fixed;
  z-index: 3;
  background-color: #3C631D;
  height: 100vh;
  transition-duration: 0.8s;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 495px) {
  nav {
    position: sticky;
    width: 100%;
    height: auto;
    transition-duration: 0s;
    top: -1px;
  }
}
nav.closed {
  transform: translatex(-250px);
}
@media only screen and (min-width: 495px) {
  nav.closed {
    transform: none;
  }
}
nav button {
  position: absolute;
  right: -40px;
  top: 90px;
  width: 40px;
  height: 65px;
  padding-left: 3px;
  background-color: #3C631D;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  border: transparent;
  cursor: pointer;
  color: white;
  font-size: 1.8em;
}
@media only screen and (min-width: 495px) {
  nav button {
    display: none;
  }
}
nav ul {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
@media only screen and (min-width: 495px) {
  nav ul {
    flex-direction: row;
    text-align: center;
    align-items: stretch;
  }
}
nav ul li {
  border: solid 1px transparent;
  transform-origin: 0 50%;
  transition-duration: 0.3s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}
nav ul li:hover {
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
@media only screen and (min-width: 495px) {
  nav ul li:hover {
    border-right: solid 1px rgba(255, 255, 255, 0.3);
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
}
nav ul li.current-page {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 495px) {
  nav ul li.current-page {
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
}
nav ul li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

main {
  padding-top: 2em;
}
@media only screen and (min-width: 495px) {
  main {
    padding-top: 1em;
  }
}

h1 {
  font-size: 2.2em;
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 1em;
}

.location-intro {
  text-align: center;
}
@media only screen and (min-width: 495px) {
  .location-intro {
    text-align: left;
  }
}

.weather-info {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  margin-top: 20px;
}
@media only screen and (min-width: 620px) {
  .weather-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
  }
}
@media only screen and (min-width: 900px) {
  .weather-info {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sm-module {
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  padding: 0.8em;
  margin-bottom: 1em;
  grid-column: span 2;
}
@media only screen and (min-width: 900px) {
  .sm-module {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 620px) {
  .sm-module:last-of-type {
    grid-column: 2/span 2;
  }
}
@media only screen and (min-width: 900px) {
  .sm-module:last-of-type {
    grid-column: span 1;
  }
}

.glance {
  border: solid black 1px;
  border-radius: 10px;
  text-align: center;
  padding: 0.8em;
  margin-bottom: 1em;
  width: 100%;
}
@media only screen and (min-width: 620px) {
  .glance {
    grid-column: 1/-1;
  }
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.current-temp {
  font-size: 3em;
  font-weight: 700;
}

#high {
  color: #b60000;
}

#low {
  color: #0001b6;
}

.forecast-graphic {
  display: block;
  margin-top: 0.8em;
}

footer {
  background-color: #94c968;
  padding: 10px 0;
}
footer .padding-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
footer .upper-footer {
  text-align: center;
}
footer .lower-footer {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  z-index: 2;
}

.component {
  width: 250px;
  height: 250px;
  position: relative;
}

.outer {
  position: absolute;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.inner {
  display: grid;
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.indicator {
  width: 1.5em;
  height: 1.5em;
  background-color: red;
  border-radius: 2em;
  grid-column: 4/span 2;
  grid-row: 2/span 2;
}

.twelveOut {
  grid-column: 7/span 2;
  grid-row: 1/span 2;
}

.twelveIn {
  grid-column: 7/span 2;
  grid-row: 1/span 2;
}

.elevenOut {
  grid-column: 4/span 2;
  grid-row: 2/span 2;
}

.elevenIn {
  grid-column: 4/span 2;
  grid-row: 2/span 2;
}

.tenOut {
  grid-column: 2/span 2;
  grid-row: 4/span 2;
}

.tenIn {
  grid-column: 2/span 2;
  grid-row: 4/span 2;
}

.nineOut {
  grid-column: 1/span 2;
  grid-row: 7/span 2;
}

.nineIn {
  grid-column: 1/span 2;
  grid-row: 7/span 2;
}

.eightOut {
  grid-column: 2/span 2;
  grid-row: -6/span 2;
}

.eightIn {
  grid-column: 2/span 2;
  grid-row: -6/span 2;
}

.sevenOut {
  grid-column: 4/span 2;
  grid-row: -4/span 2;
}

.sevenIn {
  grid-column: 4/span 2;
  grid-row: -4/span 2;
}

.sixOut {
  grid-column: 7/span 2;
  grid-row: -3/span 2;
}

.sixIn {
  grid-column: 7/span 2;
  grid-row: -3/span 2;
}

.fiveOut {
  grid-column: -6/span 2;
  grid-row: -4/span 2;
}

.fiveIn {
  grid-column: -6/span 2;
  grid-row: -4/span 2;
}

.fourOut {
  grid-column: -4/span 2;
  grid-row: -6/span 2;
}

.fourIn {
  grid-column: -4/span 2;
  grid-row: -6/span 2;
}

.threeOut {
  grid-column: -3/span 2;
  grid-row: 7/span 2;
}

.threeIn {
  grid-column: -3/span 2;
  grid-row: 7/span 2;
}

.twoOut {
  grid-column: -4/span 2;
  grid-row: 4/span 2;
}

.twoIn {
  grid-column: -4/span 2;
  grid-row: 4/span 2;
}

.oneOut {
  grid-column: -6/span 2;
  grid-row: 2/span 2;
}

.oneIn {
  grid-column: -6/span 2;
  grid-row: 2/span 2;
}

.circular {
  /*  box-sizing: border-box; */
  position: absolute;
  width: 64%;
  height: 64%;
  top: 18%;
  left: 18%;
  border-radius: 50%;
  background: radial-gradient(circle, transparent 40%, lightgray 10%);
  border-radius: 100%;
  z-index: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2.5em;
}

/*# sourceMappingURL=weather.css.map */
